a{
  text-decoration: none;
}
  .backgroundCard{
    background: #FFFF;
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    color:#555555;
    height: 88px;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0px 0px 5px #00000033;
    border-radius: 4px;
    &:hover{
      cursor:pointer;
      box-shadow: 0px 0px 10px #100d0d82;
    }
    p{
        color: #555555;
        font-weight: bold;
    }
  }
.thumbnailContent{
  display: flex;
  column-gap: 1em;
  align-items: center;
}
  
.thumbnailBackground{
  margin-left: 1em;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

@media (max-width: 700px) {
  .backgroundCard {
    grid-template-columns: repeat(1, 1fr);
    max-width: 80%;
    margin-left: 36px;

    ul{
      display: none;
    }
  }

}