
.container{
  width: auto;
  margin: 0 auto;
  max-width: 1140px !important;
    
    h2{
      color: #555555;
      font-size: 32px;
      display: inline;
    }

    .TextNameHero{
      color: #555555;
      font-weight: bold;
      margin: -1.5em 0 0.5em;
    }

    .searchContent{
       display: flex;
       flex-direction: column;
       row-gap: 8px;

       input{
         width: 295px;
         height: 32px;
         border: 1px solid #E5E5E5;
         border-radius: 4px;
        
         &:focus {
          outline-color: #4aaff7;
        }
        }
    }

    .ContentSearchHero{
      display: flex;
      flex-direction: column;
    }
   
  }
  
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #555555;
  text-decoration: none;

  &:hover{
   background:#64bfec; 
   color: #fff;
   transition:0.5s;
  }

}

.spaceBottomBetween{
  margin-bottom:2em;
}

.linkCustomize{
  padding: 10px;
  border-radius: 5px;
  border: none !important;
  color:none !important;
}

.itemCustomizeNext{
  background: transparent !important;
}
.pagination{
    margin-top: 2em;
    display: flex;
    column-gap: 11px;
    justify-content: center;
    text-align: center;
    color:black;
  }
  
  
  .listPagination{
    background:#F5F5F5;
    border:#E5E5E5;
    border-radius: 4px;
    text-decoration:none; 
    width: 40px;
    height: 32px;
    display: flex;
    flex-direction: column;
  }
  .ItemClass{
    background: #167ABC;
    color:#ffff !important;
  }
  
@media (max-width: 700px) {
  .ContentSearchHero{
  
    align-items: center;

  }    
  }
  
